@model IEnumerable<School.Models.Student>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table" id="students">
    <thead>
        <tr>
            <th>
                <label>ID</label>
            </th>
            <th>
                <label>STUDENT ID</label>
            </th>
            <th>
                <label>NAME</label>
            </th>
            <th>
                <label>BIRTH DATE</label>
            </th>
            <th>
                <label>GENDER</label>
            </th>
            <th>
                <label>ID GRADE</label>
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StudentCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BirthDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GradeId)
                </td>

                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-warning" }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-info" }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts{

    <script type="text/javascript">
        $(document).ready(function () {

            $('#students').DataTable({

                "language": { url: "https://cdn.datatables.net/plug-ins/1.12.1/i18n/es-ES.json" }
            });

        });
    </script>
}
